<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->

                <!-- Page-header end -->

                <div class="page-body" style="margin: auto;">
                    <div class="row">

                        <!-- Bar Chart start col-md-12 -->
                        <div class=" col-lg-6" style="margin: auto;" >
                            <div class="card" >
                                <div class="card-header" style="margin: auto;">
                                    <h5 style="color: rgb(44, 44, 141); font-size:30px; transform:Uppercase">Add  Category
                                    </h5>
                                    <div class="card-header-right"> <i class="icofont icofont-spinner-alt-5"></i> </div>
                                </div>
                               &nbsp;
                                
                                <div class="card-block">
                                    <form action="/catform" method="POST">
                                        <div class="form-group row" style="margin: auto;" >

                                            <div class="col-sm-8" style="margin: auto;" >
                                                <label style="font-color:rgb(143, 14, 14);text-align: center;">Category Name</label>
                                                <input type="text" class="form-control " name="name" style="border-radius: 20px; margin: auto;border-color:black">
                                            </div>
                                        </div>
                                        <br> &nbsp;
                                        <div class="col-sm-4" style="margin: auto;">
                                            <input type="submit" class=" btn btn-primary form-control "
                                                style="border-radius: 20px; ">
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- Bar Chart Ends -->

                    </div>
                </div>
            </div>
        </div>
        <div id="styleSelector">

        </div>
    </div>
</div>